<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="icon" type="image/png" href="/images/hanzo-favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  </head>
  <body>
    <div id='reactContent'></div>
    <script src="/React/bundle.js"></script>
    <script src="/scripts/fulltilt.min.js"></script>
    <script src="/scripts/jquery-3.1.1.min.js"></script>

    <!-- Google Maps w/ API key -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8Y0IsIlrVhzPYPXoyrnxOa2GYGQcqGuk">
    </script>
  </body>
</html>
